        <header class="site-header header-second">

            <div class="header-main">
                <div class="container">
                    <div class="nav-outer clearfix">

                        <!--social-links-->
                        <ul class="social-links">
                             

                              {% if is_granted('ROLE_USER') %}

                             <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-default ">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                              
                              {% else %}


                             <li><a href="{{ path('fos_user_security_login') }}"  class="btn btn-default " >Login <span class="glyphicon glyphicon-log-in"></span></a></li>
                              <li><a href="{{path('fos_user_registration_register')}}"  class="btn btn-default " >Register <span class="fa fa-registered"></span></a></li>
                               {% endif %}
                           
                        </ul>

                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                
                                <ul class="navigation clearfix">

                                    {%for cat in cats%}
                                   
                                    <li class="dropdown"><a href="{{path('catposts',{'id':cat.id})}}">{{cat.name}}</a>
                                       
                                       <ul>
                                         {%for post in cat.getBlogPosts() %}

                                            <li><a href="{{path('singlepost',{'id':post.id})}}">{{post.title}}</a>
                                            </li>
                                          {% endfor%}
                                            
                                            </ul>
                                       
                                        </li>
                                    
                                     {%endfor%}
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!--Searchbox-->
                       

                    </div>
                </div>
            </div>
            <!--Header-Main end-->

            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="{{path('homepage')}}" class="img-responsive"><img src="{{asset('images/logo-small.png')}}" alt="Transpo" title="Transpo"></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                              

                              </ul>                                 
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!--Searchbox-->
                       

                 
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->

        </header>
