{% extends 'base.html.twig' %}




{% block nav %}




{{ include('nav.html.twig ') }}


{% endblock %}
{% block body %}
   


<section class="contents">
            <div class="container">
                <!--Gallery Section-->
                <div class="gallery-section page-galery">
                    <div class="auto-container">
                        <div class="mixitup-gallery">


<div class="col-xs-8 col-xs-offset-2 label  moj">
            <div class="input-group">
               
<h3 class="alert alert success total"> Total Posts : {{ pagination.getTotalItemCount }} </h3>
          
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-mojj dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</li>
                      <li>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</li>
                     
                    </ul>
                </div>
                  </div>
        </div>







                            <!--Filter-->
                            

                            <!--Filter List-->
                            <div class="filter-list row clearfix" style="position: relative; height: 978.9px;">

                                <!--Default Portfolio Item-->

                                 {% for article in pagination %}
                                <div class="col-md-4 col-sm-6  project-item  photoshop" style="position: absolute; left: 0%; top: 0px;">
                                   
<div class="post-item" style="">
                        <a href="{{path('singlepost',{'id':article.id})}}" class="overtlink"></a>
                        <div class="overlay-box">
                            <span class="cat"><a href="#">{{article.getCategory().name}}</a></span>
                            <h4><a href="#">{{ article.title }}</a></h4>
                           
                        </div>
                    </div>


                                </div>

                                {% endfor%}

                                <!--Default Portfolio Item-->
                              
                                <!--Default Portfolio Item-->
                                  <!--Default Portfolio Item-->
                                
                            </div>

                            <!-- Styled Pagination -->
                            <ul class="pagination">
                                
                                <li>{{ knp_pagination_render(pagination) }}</li>
                                
                            </ul>

                           
                    </div>
                </div>
                <!--Gallery Section end-->
            </div>

        </section>

 

{% endblock %}

